<%= simple_form_for(@newsletter_test_email) do |f| %>
  <% if @newsletter_test_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter_test_email.errors.count, "error") %> prohibited this newsletter_test_email from being saved:</h2>

      <ul>
      <% @newsletter_test_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :send_to %>
    <%= f.association :newsletter %>
    <%= f.submit %>
  </div>
<% end %>
