<h1>Listing newsletter_test_emails</h1>

<table>
  <tr>
    <th>Send to</th>
    <th>Newsletter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsletter_test_emails.each do |newsletter_test_email| %>
  <tr>
    <td><%= newsletter_test_email.send_to %></td>
    <td><%= newsletter_test_email.newsletter_id %></td>
    <td><%= link_to 'Show', newsletter_test_email %></td>
    <td><%= link_to 'Edit', edit_newsletter_test_email_path(newsletter_test_email) %></td>
    <td><%= link_to 'Destroy', newsletter_test_email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newsletter test email', new_newsletter_test_email_path %>
