<h1>Listing newsletter_blocks</h1>

<table>
  <tr>
    <th>Block key</th>
    <th>Newsletter</th>
    <th>Sort order</th>
    <th>Status</th>
    <th>Main title</th>
    <th>Secondary title</th>
    <th>Main link</th>
    <th>Anchor text</th>
    <th>Main image</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @newsletter_blocks.each do |newsletter_block| %>
  <tr>
    <td><%= newsletter_block.block_key %></td>
    <td><%= newsletter_block.newsletter_id %></td>
    <td><%= newsletter_block.sort_order %></td>
    <td><%= newsletter_block.status %></td>
    <td><%= newsletter_block.main_title %></td>
    <td><%= newsletter_block.secondary_title %></td>
    <td><%= newsletter_block.main_link %></td>
    <td><%= newsletter_block.anchor_text %></td>
    <td><%= newsletter_block.main_image %></td>
    <td><%= newsletter_block.body %></td>
    <td><%= link_to 'Show', newsletter_block %></td>
    <td><%= link_to 'Edit', edit_newsletter_block_path(newsletter_block) %></td>
    <td><%= link_to 'Destroy', newsletter_block, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newsletter block', new_newsletter_block_path %>
