<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @campaign.title %>
</p>

<p>
  <b>Campaign key:</b>
  <%= @campaign.campaign_key %>
</p>


<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
