<h1 style="font: 16px sans-serif; color:#333; margin: 16px 0 18px;font-weight: 500; line-height: 28px;">
  <%= block_content.main_title %>
</h1> 
<table style="margin: 0;">
  <tr>
    <td valign="top"><a href="<%= block_content.main_link %><%= tracking_code %>" border="0" style="border: none"><img src="<%= block_content.main_image.blank? ? '/assets/default_feature.jpg' : block_content.main_image.second.url %>" width="320" border="0" style="border: none"></a></td>
    <td width="20"></td>
    <td>
   
        <%= raw(RedCloth.new(cleaned_for_news(block_content.body, tracking_code)).to_html) %>
    </td>
   </tr>

</table>
       
