<h1 style="font: 16px sans-serif; color:#333; margin: 22px 0 18px;font-weight: 500">
  Featured course : University of Cambridge ESOL CELTA
</h1> 
<table style="margin: 0;">
  <tr>
    <td valign="top"><a href=" http://coursesnow.com.au/fitness-courses/type-tafe-courses/<%= @newsletter.tracking_code %>" border="0" style="border: none"><img src="/assets/course_of_week_jan.jpg" width="320" border="0" style="border: none"></a></td>
    <td width="20"></td>
    <td>
   
        
        <p style="font-size: 12px; color: #808080;">The Australian TESOL Training Centre is Australia’s longest-established University of Cambridge ESOL CELTA/DELTA preparation centre. 
        </p>
          
          <p style="font-size: 12px; color: #808080;">ATTC courses include practical demonstrations and workshops. Experience a wide range of activities, materials and tasks that will help your students to use grammar and vocabulary to really communicate in English.<br/> 
            <strong>Discover new ways of teaching English.</strong></p>
          
          <table id="blue" cellspacing="0" cellpadding="5"  style="font-size: 12px; margin-bottom: 12px">

            <tr>
              <td><span style="color: #ea3d2f; font-weight: bold; font-family: arial;"> > </span><a href="http://coursesnow.com.au/tesol-courses/foundation-tesol/<%= @newsletter.tracking_code %>" style="color: #3b659f; text-decoration: none">Foundation in TESOL
             
              
              </a>&nbsp;</td> 
              <td><span style="color: #ea3d2f; font-weight: bold; font-family: arial;"> > </span><a href="http://coursesnow.com.au/languages-1-courses/certificate-iv-tesol-1/<%= @newsletter.tracking_code %>" style="color: #3b659f; text-decoration: none">Certificate IV in TESOL</a></td>
                
            </tr>

            <tr >
              <td><span style="color: #ea3d2f; font-weight: bold; font-family: arial;"> > </span><a href="http://coursesnow.com.au/education-childcare-courses/master-of-tesol/<%= @newsletter.tracking_code %>" style="color: #3b659f; text-decoration: none">Master of TESOL</a></td>
              <td></td>
    
            </tr>
            


          </table>
 <p style="margin: 0;padding: 0;"><table style="background: #fff; margin: 0; padding: 0;"><tr><td style="background: #fff; height: 8px; font-size: 6px;line-height: 6px;">&nbsp;</td></tr><tr><td style="padding: 5px 12px 5px 12px;background:#ef3e30;" valign="top"><a href=" http://coursesnow.com.au/education-childcare-courses/celta/<%= @newsletter.tracking_code %>" style="color: #fff; text-transform: uppercase; text-decoration: none; font-size: 13px;  background:#ef3e30; padding: 3px 10px; font-weight: bold;">Learn to Teach English &raquo;</a></td></tr><tr><td style="background: #fff; height: 16px;font-size: 10px;">&nbsp;</td></tr></table></p>
    </td>
  </tr>
</table>