  <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/nav' %>

<table>
  <tr>
    <td width="20"></td>
    <td  width="300">
      <h1 style="font: 16px sans-serif; color:#333; margin: 22px 0 18px; font-weight: 500;">
      Why did I receive this message?
    </h1>
     <p style="font-size: 12px; color: #666">You have received this email after subscribing via CoursesNow.com.au or the MyCareer Education Centre website. We appreciate the opportunity to share our information with you and hope you are happy to continue receiving our updates. 
    <br/>Call us on <strong>1300 928 239</strong> for further information</p></td>
    <td width="40"></td>
    <td  width="160" valign="top">
    <br/>        <br/>      <br/>
      <table style="font-size: 12px;">
        <tr>
          <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/cn_small.jpg"></td>
          <td valign="top"><a href="http://coursesnow.com.au/<%= tracking_code %>" style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Visit Website &raquo;</a></td>
        </tr>
        <tr>
          <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/facebook_small.jpg"></td>
          <td valign="top"><fblike likeurl="http://www.facebook.com/CoursesNow" style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Like on Facebook &raquo;</span></fblike></td>
        </tr>
        <tr>
          <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/twitter_small.jpg"></td>
          <td valign="top"><tweet style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none; border: none;">Tweet this &raquo;</span></tweet></td>
        </tr>
        <tr>
          <td valign="top"><img src="https://s3-ap-southeast-1.amazonaws.com/coursesnowintranet/newsletter-assets/email_small.jpg"></td>
          <td valign="top"><forwardtoafriend style="color: #fff;text-decoration: none;border: none;"><span style="margin: 0 6px; color: #767676; text-decoration: none;border: none;">Forward to a friend &raquo;</span></forwardtoafriend></td>
        </tr>
      </table>
    
    </td>
    
    <td  width="160" valign="top">
      <br/>      <br/>      <br/>
      <table style="font-size: 12px;">
        <tr>
          <td valign="top"></td>
          <td valign="top"><a href="http://coursesnow.com.au/providers/<%= tracking_code %>" style="margin: 0 6px; color: #767676; text-decoration: none;">Course Providers &raquo;</a></td>
        </tr>
        <tr>
          <td valign="top"></td>
          <td valign="top"><a href="http://coursesnow.com.au/info/about-coursesnow/<%= tracking_code %>" style="margin: 0 6px; color: #767676; text-decoration: none;">About Courses Now &raquo;</a></td>
        </tr>
        <tr>
          <td valign="top"></td>
          <td valign="top"><a href="http://coursesnow.com.au/info/privacy-policy/<%= tracking_code %>" style="margin: 0 6px; color: #767676; text-decoration: none;">Privacy Policy &raquo;</a></td>
        </tr>
        <tr>
          <td valign="top"></td>
          <td valign="top"><a href="http://coursesnow.com.au/info/enrol-terms/<%= tracking_code %>" style="margin: 0 6px; color: #767676; text-decoration: none;">Enrolment Terms &raquo;</a></td>
        </tr>
        
    </table>
 
      
      </td>
    <td width="20"></td>
  </tr>
</table>&nbsp;

    </td>
  </tr>
</table>

<table style="background: none; border: none; margin: 5px auto 10px auto; padding: 0; color: #bbb; font-size: 10px; font-weight: normal; font-family: sans-serif; line-height: 14px; width: 700px;" align="center" width="700">
  <tr>
    <td style="border: none; margin: 0; padding: 0;" width="20">
    </td>
    <td style="border: none; color: #bebebe; font-size: 10px; font-weight: normal; font-family: sans-serif; text-align: center" width="650">
      
      <p style="font-size: 11px;" align="center"> This email was sent to [email]. If you are no longer interested you can <unsubscribe style="border: none;text-decoration: none; color: #ccc;"><span style="border: none; color: #fff; text-decoration: none;">unsubscribe instantly</span></unsubscribe>.
        <br/>© Copyright 2012 CoursesNow.com Pty Ltd Australia<br/>Level 1, 9 Barrack Street Sydney NSW 2000</p>
      
   
    </td>
    <td style="border: none;"  width="20"> </td>
  </tr>
</table>



<br />
