<!-- NAV !! -->
<table border="0" cellspacing="0" cellpadding="0" align="center" class="newsie dotted-both" style="font-family: san-serif">
  <tr>
    <td style="width:20px; background: #f1f1f1; padding-top: 4px" width="20"></td>
    <td style="color: #666; background: #f1f1f1; padding-top: 4px; padding-bottom: 4px; font-size: 12px; font-family: san-serif" width="660">
      <%= email_nav_link_to('TAFE Courses','http://coursesnow.com.au/type-tafe-courses/', 'margin-left: 32px;') %> |
      <%= email_nav_link_to('IT Certification', 'http://coursesnow.com.au/type-it-certification/') %> |
      <%= email_nav_link_to('University','http://coursesnow.com.au/type-uni-courses/') %> |
      <%= email_nav_link_to('Online Courses','http://coursesnow.com.au/online-delivery/') %> |
      <%= email_nav_link_to('Short Courses','http://coursesnow.com.au/type-short-courses/') %> |
      <%= email_nav_link_to('Fee Help','http://coursesnow.com.au/fee-help/') %>
    </td>
    <td style="width:20px;background: #f1f1f1;" width="20"></td>
  </tr>
</table><!-- // NAV -->
