<%  bloch = Array.new %>

<% @newsletter.newsletter_blocks.order('sort_order ASC').each do |i|    %>
  <% bloch.push i %>
<% end %>





    <div class="newsie_background" style="font: sans-serif; line-height: 20px; background: #333333; margin: 0; padding: 10px 0; width: 100%;"
      align="center"> 
      <%= render 'tractor/newsletters/templates/template_2/blocks/header', :locals => { :newsletter => @newsletter } %>

      <table class="newsie" cellspacing="0" cellpadding="0"  align="center" bgcolor="#ffffff" border="0" style="width: 100%; padding: 0; margin: 0;background: #fff;font-family: normal sans-serif;" >
        <tr>

          <td style="width: 20px; margin: 0; padding: 0; "> </td>

          <td width="440" valign="top" style="padding-bottom: 2px;" class="left_col">
            <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/left_col', :locals => { :block_content => bloch.first } %>

          </td>

          <td style="width: 20px; margin: 0; padding: 0; "> </td>

          <td valign="top" style="" width="200" valign="top">
            <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/right_col' %>
          </td>

          <td style="width: 20px; margin: 0; padding: 0; "> </td>

        </tr>
      </table>
      
      <% if bloch[0].main_title != "" %>
        <table style="margin-top: 2px;  width: 100%;" class="dotted-top featured">
          <tr>
            <td style="width: 20px; margin: 0; padding: 0; "> </td>

            <td style="margin: 0; padding: 0;" cellpadding="0"><a href="#"
                name="feature1"></a>

              <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/col_one', :locals => { :block_content => bloch[1] } %></td>

            <td style="width: 20px; margin: 0; padding: 0; "> </td>
          </tr>
        </table> 
      <% end %> 
      <% if(bloch[2].main_title != "") %>
        <table style="margin-top: 2px; width: 100%;" class="dotted-top">
          <tr>
            <td style="width: 20px; margin: 0; padding: 0; "> </td>

            <td style=""><a href="#" name="popular"></a>
              <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/col_two', :locals => { :block_content => bloch[2] } %></td>

            <td style="width: 20px; margin: 0; padding: 0; "> </td>
          </tr>
        </table>   
      <% end %>
      <% unless(bloch[3].main_title == "" && bloch[4].main_title == "") %>         
        <table style="margin-top: 20px; width: 100%;" class="dotted-top col_three">
          <tr>
            <td style="width: 20px; margin: 0; padding: 0; "></td>

            <td style=""><a href="#" name="price"></a>
              <table>
                <tr>
                  <td width="320" style="height: 100px; padding: 0;" valign="top">
                    <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/col_three', :locals => { :block_content => bloch[3] } %>
                  </td>
                  <td width="20"></td>
                  <td width="320" style="height: 100px; " valign="top">

                    <%= render :partial => 'tractor/newsletters/templates/template_2/blocks/col_three', :locals => { :block_content => bloch[4] } unless bloch[4].nil? %>   

                  </td>
                </tr>
              </table>
              <td style="width: 20px; margin: 0; padding: 0; "> </td>
            </tr>
          </table>

        <% end %>   



        <%= render 'tractor/newsletters/templates/template_2/blocks/footer' %>


      </div>

    </body>
  </html>
