<div class="page-header">
  <h1>Newsletter Schedule</h1>
</div>

<table class="table table-bordered">
  <tr>
    <th>Newsletter</th>
    <th>Send date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @send_events.each do |send_event| %>
  <tr>
    <td>Name of Newsletter _ <%= send_event.newsletter_id %></td>
    <td><%= send_event.send_date %></td>
    <td><%= link_to 'Show', send_event %></td>
    <td><%= link_to 'Edit', edit_send_event_path(send_event) %></td>
    <td><%= link_to 'Destroy', send_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Send event', new_send_event_path, :class => "btn btn-info" %>
