<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @send_event.name %>
</p>

<p>
  <b>Send date:</b>
  <%= @send_event.send_date %>
</p>

<p>
  <b>Newsletter:</b>
  <%= @send_event.newsletter_id %>
</p>


<%= link_to 'Edit', edit_send_event_path(@send_event) %> |
<%= link_to 'Back', send_events_path %>
