<%= simple_nested_form_for(@newsletter, :html => {:class => 'form-vertical' , :multipart => true}) do |f| %>
  <% if @newsletter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>

      <ul>
        <% @newsletter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <style>
    .admin_subnav li a { color: #42989b; }
    .admin_subnav li.active a { color: #000;}
  </style>


  <div class="row">

    <div class="tabbable">
      <div class="span2 tabs-left">
        <ul class="nav nav-tabs admin_subnav" style="width: 100%; border-right: 0;">
          <li class="active"><a href="#tab1" data-toggle="tab">Admin</a></li>
            <li><a href="#tab<%= @newsletter.newsletter_blocks.count + 2 %>" data-toggle="tab">Tests / Send</a></li>
          </ul>
          
        <ul class="nav nav-tabs admin_subnav" style="width: 100%; border-right: 0;" id="news_blocks" data-update-url="<%= sort_newsletter_blocks_url %>" >
          
          <% if templated? %> 
            <% @newsletter.newsletter_blocks.order('sort_order ASC').each_with_index do |tab,index| %>

                  
              <% tab.main_title? ? (link_text = truncate(tab.main_title, :length => 25, :separator => '...')) : (link_text = "Block #{index +1}") -%>
              <%= content_tag(:li, tab) do %>
                <%= link_to(link_text, "#tab#{index + 2}", :data => { :toggle => "tab" }) %>
              <% end -%>
              
              
                  
            <% end %>

          <% end %>
        </ul>
      </div>

      <div class="tab-content span10">
        <div class="tab-pane active" id="tab1">
          <div class="row">
            <div class="span3">
              <%= f.input :title, :label => 'Campaign Name' %>
              <%= f.input :subject_line if templated? %>
              <%= f.input :preheader if templated? %> 
            </div>
            <div class="span3">
              <% if templated? %>
                <%= f.association :template, :label => "Template (locked)"  %>
              <% else %>
                <%= f.association :template  %>
              <% end %>
              <%= f.input :tracking_code, :label => 'Custom tracking code' if templated? %>
              <%= f.input :sections, :as => 'hidden' %>

            </div>

            <div class="span3">


              <%= f.input :status, :collection => content_statuses, :default => 1 %> 

              <%= f.input :content, :input_html => { :style => "width: 100%; height: 100px;"}, :label => 'Notes' %>
            </div>

          </div>
        </div>

        <% if templated? %>
          <% ## The nested_forms gem adds in a <div class="fields" around the outside of our tabs... we need it to be gone! so we gsub it out... is that dirty? I think so %>
            <%= (f.fields_for :newsletter_blocks).gsub('<div class="fields">','').gsub(/fieldset>.*\n<\/div>/,'fieldset>').html_safe %>


              <div class="tab-pane" id="tab<%= @newsletter.newsletter_blocks.count + 2 %>">
                <h3>Email Tests</h3>

                <% ## Old test email send format link_to 'Send Test Email', newsletters_send_test_email_path + "/#{(@newsletter.id)}", :remote => true, :class=>'send_test_button btn btn-large' %>
                <% if @newsletter.newsletter_test_emails.any?  %>
                  <h4>Tests sent</h4>
                  <p style="color: #999;">
                    <% @newsletter.newsletter_test_emails.order('created_at DESC').each do |test| -%>
                      To: <%= test.send_to %> // Sent <%= time_ago_in_words(test.created_at) %> ago<br/>
                    <% end %> 
                  <% else %>
                    
                    None sent.
                  <% end -%>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>


    </div>





    <div class="row">
      <div class="span2">
        &nbsp;  
      </div>
      <div class="span10">
        <div class="form-actions">
          <%= link_to 'Send Test Email', '#myModal', :class => 'btn btn-success', :data => { :toggle => "modal" } unless @newsletter.id.nil? %>

          <%= f.button :submit, :class => "btn btn-info offset5" %>
          <%= link_to 'Cancel', :back, :confirm => 'Are you sure?', :class => 'btn' %>


        </div>            
    </div> 
  </div>
  <% end %>

<% render 'test_send_modal' unless @newsletter.id.nil? -%>  
