<div class="page-header">
  <h1>Emails</h1>
</div>

<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Subject line</th>
    <th>Status</th>
    <th></th>
  </tr>

<% @newsletters.each do |newsletter| %>
  <tr>
    <td><%= newsletter.title %></td>
    <td><%= newsletter.subject_line %></td>
    <td><%= newsletter.status %></td>
    <td><%= link_to 'Show', newsletter %> |
    <%= link_to 'Edit', edit_newsletter_path(newsletter) %> | 
    <%= link_to 'Destroy', newsletter, :confirm => 'Are you shuwer?', method: :delete, :remote => true, :class => 'delete_newsletter' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Newsletter', new_newsletter_path, :class => "btn btn-info" %>
