<% unless send_version?  %>

  <div class="page-header">
    <h1> <%= @newsletter.title %></h1>
  </div>
   <div class="row">
     <div class="span9">
  <%= @newsletter.content %>
  <%= @newsletter.subject_line %>
     </div>
     <div class="span3">
       <%= link_to 'Edit', edit_newsletter_path(@newsletter), :class => 'btn btn-info' %>
       <%= link_to 'Back', newsletters_path, :class => 'btn' %>
       <%= link_to 'Send Version', newsletter_path(:send_version => "0" ), :target => '_blank', :class => 'btn btn-success' %>

    </div>
  </div>
  </br>
  
<% else %>
  <html>
  <head>
  </head>
  <body style="margin: 0; padding: 0; background: #333333;">
    <style>
      table.newsie, .newsie table tr, .newsie table tr td { border: none; padding: 0; margin: 0; font: "Helvetica", sans-serif; line-height: 20px;}
      .newsie table.dotted-top { border-top: 1px dotted #808080; }
      .newsie .featured p, .newsie .col_three p, .newsie .left_col p { font-family: "Helvetica", sans-serif; font-size: 12px; line-height: 20px; margin-bottom: 12px; color: #080808;  }
      table.dotted-both { border-top: 1px dotted #808080; border-bottom: 1px dotted #808080;}
    </style>
  <% end %>
  <%= render :partial => 'tractor/newsletters/templates/template_2/newsletter' %> 
  <% unless (params[:send_version] == 0) %>
  </body>
<% end %>
