<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td valign="top">
        <a href="<%= block.main_link %>"><img src="<%= block.main_image  %>" style="border: 0px initial initial; padding-top: 1px; width: 170px; height: 127px;" /></a>
      </td>
      <td style="width: 8px;"></td>
      <td valign="top">
        <h2 style="color:#006B99;font-size:14px; font-family: arial,verdana;line-height: 20px;"><%= block.main_title %></h2>
        <p style="font-family: arial,verdana; font-size:12px;padding:0;margin:0 0 8px 0; color:#023B56;"><%= block.body  %></p>
      </td>
    </tr>
    <tr>
      <td align="right" colspan="3" style="text-align: right;">
        <a href="<%= block.main_link  %>" style="font-family: arial,verdana; text-decoration:none; color:#FF6634; font-size:12px; font-weight:700;"><%= block.secondary_title  %> &raquo;</a>
      </td>
    </tr>
  </tbody>
</table>
